{% extends 'base.html.twig' %}

{% block title %}Logowanie do systemu{% endblock %}

{% block body %}
    <div class="hero is-fullheight">
        <div class="hero-body is-justify-content-center is-align-items-center">
            <form action="{{ path('app_login') }}">
                <div class="columns is-flex is-flex-direction-column box">
                    <div class="column">
                        <label for="username">Email</label>
                        <input id="username" name="_username" class="input is-primary" type="text" placeholder="Email"
                               value="{{ last_username }}">
                    </div>
                    <div class="column">
                        <label for="password">Hasło</label>
                        <input id="password" name="_password" class="input is-primary" type="password"
                               placeholder="Hasło">
                    </div>
                    <div class="column">
                        <button class="button is-primary is-fullwidth" type="submit">Zaloguj się</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
